.header {
    display: flex;
    background-color: black;
    
    &__nav {
        margin: auto;
        width: 50%;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__link {
            color: white;
            font-weight: 500;
            list-style: none;
            
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
}