.header {
    display: flex;
    background-color: black;

    &__logo {
        padding: 10px;
    }
    
    &__nav {
        margin: auto;
        width: 50%;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__link {
            color: white;
            font-weight: 500;
            list-style: none;
            font-size: 1.1em;
            
        }
    }
}