.scorechart__title {
    position: relative;
    margin: 0;
    top: 25px;
}

.scorechart__legend {

    position: relative;
    top: -40%;
    left: 40%;
    

    &__value {
        font-size: 2em;
        color: black;
        font-weight: 700;
        margin: 0;
    }
   
    &__txt {
        width: 20%;
        line-height: 25px;
        font-size: 1em;
        color: rgb(97, 96, 96);
    }
}