.wavechart {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;


    &__title {
        color: white;
        width: 50%;
        position: absolute;
        top: 62%;
        left: 14%;
        opacity: .7;
    }
}

.recharts-tooltip-wrapper {
    height: 250px;
}