.wavechart {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 300px;
    &__title {
        color: white;
        width: 60%;
        position: relative;
        top: 5%;
        left: 10%;
        opacity: .7;
    }
}
